
<div style="padding:20px;">

    <h1 class="article-title">Report</h1>
    <p>report: <%= page.data.report %></p>

    <!-- Site report -->
    <div style="padding:15px; border:1px solid #000000;">
        <h2>Site wide report: </h2>
        <p>Word Totals:</p>
        <ul style="margin-left:50px;">
            <li style="font-weight:bold;">Grand Site Total: <%= page.data.site.wordCounts.total %></li>
            <li>total words (p elements): <%= page.data.site.wordCounts.p %></li>
            <% let h = 1; while(h < 7){ %>
                <li>total words (h<%= h %> elements): <%= page.data.site.wordCounts['h' + h] %></li>
                <% h += 1 %>
            <% } %>
        </ul>
    </div>

</div>